body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}

h1 {
    font-size: 40px;
}

.skip {
    color: OrangeRed;
}

.top {
    display: flex;

}


.half-with {
    width: 50%;
    margin-left: 30px;





}

.top img {
    width: 80%;





}

.link {
    text-decoration: none;
    background-image: linear-gradient(to left, darkorange, OrangeRed);
    margin: 50px 10px;
    padding: 10px 30px;
    border-radius: 100px;
    color: whitesmoke;
    margin-left: 20%;
}

.down-link {
    text-decoration: none;
    background-image: linear-gradient(to left, darkorange, OrangeRed);
    margin: 50px 10px;
    padding: 10px 30px;
    border-radius: 100px;
    color: whitesmoke;
}

.mid {
    display: flex;


}

.mid-with {
    width: 50%;
}

.mid img {
    width: 30%;
    margin-left: 25%;

}

.mid-bannar {
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
}

.fix-area {
    display: flex;
}